.text {
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);

    &--body {
        line-height: var(--line-height-normal);
    }

    &--caption {
        line-height: var(--line-height-normal);
        font-size: var(--font-size-sm);
    }

    &--label {
        font-weight: var(--font-weight-medium);
        letter-spacing: var(--letter-spacing-wide);
        text-transform: uppercase;
    }

    &--size-sm {
        font-size: var(--font-size-sm);
    }

    &--size-md {
        font-size: var(--font-size-md);
    }

    &--size-lg {
        font-size: var(--font-size-lg);
    }

    &--color-primary {
        color: var(--color-text-default);
    }

    &--color-secondary {
        color: var(--color-text-subtle);
    }

    &--color-disabled {
        color: var(--color-text-disabled);
    }

    &--bold {
        font-weight: var(--font-weight-bold);
    }
}
