<div class="spacing-showcase">
  @for (spacing of spacings; track spacing.name) {
    <div class="spacing-showcase__item">
      <div class="spacing-showcase__label">
        <span class="spacing-showcase__name">{{ spacing.name }}</span>
        <span class="spacing-showcase__value">{{ spacing.value }} / {{ spacing.pixels }}</span>
      </div>
      <div class="spacing-showcase__visual">
        <div class="spacing-showcase__box" [style.width]="spacing.value"></div>
      </div>
    </div>
  }
</div>
